body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0px;
  background-color: white;
  transition: all .4s ease-in;
}

p {
    font-family: "Script", Times, serif;
}

@media screen and (max-width: 1250px) {
  body {
	   background-color: #CCAAFF;
}

@media screen and (max-width: 1000px) {
  body {
	   background-color: #CCBBFF;
}
}

@media screen and (max-width: 750px) {
  body {
	   background-color: #CCCCFF;
}
}
@media screen and (max-width: 500px) {
  body {
	   background-color: #CCDDFF;
}
}
@media screen and (max-width: 250px) {
  body {
	   background-color: #CCEEFF;
}
}
@media screen and (max-width: 100px) {
  body {
	   background-color: #CCFFFF;
}
}
