
.container {
  max-width: 1000px;
    /* I put "max-width" rather than "width" because
    if the screen width is less than 650px, it will shrink accordingly. */
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
