
.container {
  max-width: 1000px;
    /* I put "max-width" rather than "width" because
    if the screen width is less than 650px, it will shrink accordingly. */
}

/* Centered text */
#text {
  font-family: 'Sunflower', sans-serif;
      font-size: 30vw;
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-weight: normal;
      text-decoration: none;
      color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }


.text-block {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: rgb(0,0,0,0.2);
    color: white;
    -webkit-box-shadow: 0px 10px 30px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 30px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 30px 6px rgba(0,0,0,0.75);
}
