
body {

    background: #87CEFA;
    color: white;
    color: rgb(255, 255, 255);
    font-size: 22px;

    font-family: "Big Caslon", Helvetica, Arial, sans-serif;
}
    #table-of-contents {
      position: fixed;
      top: 20em;
      left: 20em;
      background: white;
    }

    #table-of-contents a {
  color: #F5FFFA;
  text-decoration: none;
}

  #table-of-contents a:hover {
  color: black;
}
