body {
  background: aqua;
}
h1{
  font-size: 100px;
  font-family: monospace;
}
h4{
  font-size: 10px;
}
a{
  color:black;
}

.rectangle {
    width: 100%;
    height: 200px;
    background: white;
    position: relative;
    -webkit-animation: mymove 10s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 10s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px; background-color: yellow;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px; background-color: yellow;}
}
