
body {

    background: #87CEFA;
    color: white;
    color: rgb(255, 255, 255);
    font-size: 22px;

    font-family: "Big Caslon", Helvetica, Arial, sans-serif;
}
* {
    text-shadow: 3px 2px red;
    letter-spacing: 10px;
}
    #table-of-contents {
      position: fixed;
      bottom: 0px;
      left:50%;
      background: white;
      padding-right:20px;
    }

    #table-of-contents a {
  color: black;
  text-decoration: none;
}

  #table-of-contents a:hover {
  color: blue;
  background-color:  #87CEFA;
}
h1.ex1 {
    direction: rtl;
}
h4.ex1{
  direction: rtl;
}
